@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  html {
    @apply h-full bg-white;
  }
  body {
    @apply h-full md:max-w-screen-md mx-auto bg-white;
  }
  ::selection {
    @apply text-white bg-blue-500;
  }
}
@layer components {
  .title-lg {
    @apply text-[30px] tracking-[-.07em] font-myeongjo sm:text-[60px]
  }
  .title-md {
    @apply text-[25px] tracking-[-.075em] font-myeongjo sm:text-[30px]
  }
  .content-md {
    @apply text-[20px] tracking-[-.075em] font-myeongjo leading-[20px]
  }
}

@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

.text-animation {
  animation: colorChange 2s linear infinite;
}

@keyframes textWaveBlink {
  0%, 100% {
    background: linear-gradient(to right, black, transparent, black);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* transform: translateX(0); */
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  /* 25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10px);
  } */
  90%, 95% {
    opacity: 0;
  }
}

.text-animation-gradient {
  animation: textWaveBlink 2s linear infinite; 
}
