@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  ::selection {
    @apply text-white bg-blue-500;
  }
}
@layer components {
  .title-lg {
    @apply text-[30px] tracking-[-.07em] font-myeongjo sm:text-[60px]
  }
  .title-md {
    @apply text-[25px] tracking-[-.075em] font-myeongjo sm:text-[30px]
  }
  .content-md {
    @apply text-[20px] tracking-[-.075em] font-myeongjo leading-[20px]
  }
}

